body{
    font-family:"Inter";
    font-optical-sizing: auto;
}
.nav-div {
    display:flex;
    margin:16px auto;;
    justify-content:space-between;
    align-items: center;
    width: 1360px;
    height: 60px;
    
}
.nav-text{
    cursor: pointer;
}
.nav-text:hover{
    box-shadow: 10px 10px 10px rgba(211, 211, 211, 0.724);

}
.nav{
    display: flex;
    gap:32px;
    font-size: 16px;
    font-weight:500;
}
.btn{
    background-color:#469165;
    justify-content: center;
    color:white;
    padding:16.5px auto ;
    border:none;
    border-radius: 4px;
    font-weight: 600;
    cursor:pointer;
    text-align: center;
    
}
.btn3{
    background-color:#469165;
    justify-content: center;
    color:white;
    padding:12.5px 16px ;
    border:none;
    border-radius: 4px;
    font-weight: 600;
    cursor:pointer;
    text-align: center;
    
}
.btn4{
    
    background-color:#469165;
    justify-content: center;
    color:white;
    padding:16.5px 16px 16.5px 16px ;
    border:none;
    border-radius: 4px;
    font-weight: 600;
    cursor:pointer;
    text-align: center;
    

}

.btn2{
    background-color:transparent;
    justify-content: center;
    color:white;
    padding:12px 16px;
    border:none;
    border-radius: 4px;
    cursor:pointer;
    font-weight: bold;
    border: 2px solid white;
}
 .btn2:hover{
    box-shadow: 10px 10px 10px rgba(211, 211, 211, 0.354);
}
.btn:hover{
    box-shadow: 10px 10px 10px rgba(211, 211, 211, 0.434);
}
.btn3:hover{
    box-shadow: 10px 10px 10px rgba(211, 211, 211, 0.434);
}
.btn4:hover{
    box-shadow: 10px 10px 10px rgba(211, 211, 211, 0.434);
}
.section-1{
    background:url(./stuffs/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:1600px;
    overflow:hidden;
    
}
.heading h1{
    margin:16px 0;
}
.section1-conntainer{
    width: 1360px;
    height: 380px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    padding:115.5px 120px 180px 120px;
    
}
.a-div{
    display: flex;
    gap:6px;
     color: #30B868;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    height:35px;
    width: 230px;


}
.section-1 a{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.a-div1 img{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin:9.5px 6px 9.5px 12px;
}
/* .green-h1{ */
    /* color: #30B868;*/


/* } */
.white-h1{
    color:#FFFFFF;
    font-weight: bold ;
   
    font-size:72px;
}

.s1-p{
    font-size: 18px;
    font-weight:400;
    color: #FFFFFF;
    line-height: 24px;
    /* margin-bottom: 32px;
    margin-top: 16px; */
}
.sec1-btn{
    display: flex;
    gap:16px;

}
.section-2{
    background-color: rgba(255, 255, 255, 1);
}
.s2-heading {
    text-align: center;

}
.s2-heading h1, .s3-h1{
font-size: 48px;
font-weight: bold;
}
.s2-heading p,.s3-p2,.s4-p1,.s4-p2{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-top: 16px;
}
.s2-container{
    display: flex;
    gap: 24px;
    width: 1360px;
    justify-content: space-between;
    margin: 44px 120px 0px 120px;
}
.s2-container img{
    background-color: #F95555;
    
    border-radius: 50%;
    width: 27px;
    height: 27px;
    padding: 15.5px 16.5px;
}
.s2-card{
    align-content: center;
    text-align: center;
    width: 322px;
    height: 300px;
    cursor: pointer;
    background-color: rgba(251, 251, 251, 1);
   
}
.s2-card:hover{
    background-color: #F7F6F2;

}
.s2-card h4{
    font-size: 30px;
    font-weight: 600;

}
.s2-card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-top: 16px;
  
}
.s3-container{
    display: flex;
    width: 1360px;
    
}
.s3-img{
    margin-left: 120px;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-right: 60px;
    cursor: pointer;
}

.s3-content{
    margin: 102px 0px;
}
.s3-p1{
    color:#30B868;
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
}
.s3-c1{
    display: flex;
    text-align: center;
    align-items: center;
    gap:6px;
}
.s3-c1 img{
    width: 20px;
    height: 20px;
}
.s4-content{
    background-color: #F7F6F2;
    width: 1360px;
    margin:2px 120px 120px 120px;
    text-align: center;
    height: 384px;
}
.s4-d1 h2{
    font-size: 40px;
    font-weight:bold;

}
.s4-d1{
    padding:80px 40px 24px 40px;
    text-align: center;
    gap:16px;
}
.s5-container{
    width: 1360px;
}
.footer-c{
    width: 1360px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding:120px 120px 80px 120px;
}
.footer-logo{
    display: flex;
    gap:16px;
}
.social-logo{
    cursor: pointer;
}
.social-logo:hover{
   background-color: rgb(9, 59, 92);
   

}
.f-copy{
    text-align: center;
    padding-bottom:30px ;
}
.footer-p{
    color:#FAFAFA;
    line-height: 24px;
}