body{
    font-family:"Inter";
    font-optical-sizing: auto;
}
.nav-div {
    display:flex;
    margin:16px auto;;
    justify-content:space-between;
    align-items: center;
    width: 1360px;
    height: 60px;
    
}
.nav{
    display: flex;
    gap:32px;
    font-size: 16px;
    font-weight:500;
}
.btn{
    background-color:#30B868;
    justify-content: center;
    color:white;
    padding:12px 16px;
    border:none;
    border-radius: 4px;
    font-weight: bold;
    
}
.btn2{
    background-color:transparent;
    justify-content: center;
    color:white;
    padding:12px 16px;
    border:none;
    border-radius: 4px;
    font-weight: bold;
    border: 2px solid white;
}
.section-1{
    background:url(./stuffs/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:1600px;
   
    
}
.section1-conntainer{
    width: 1360px;
    height: 380px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    
}
.a-div{
    display: flex;
    gap:6px;
     color: #30B868;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    height:35px;
    width: 230px;


}
.section-1 a{
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
.a-div1 img{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin:9.5px 6px 9.5px 12px;
}
.green-h1{
    color: #30B868;

}
.white-h1{
    color:#FFFFFF;
}
.s1-p{
    font-size: 18px;
    font-weight:400;
    color: #FFFFFF;
}
.sec1-btn{
    display: flex;
    gap:16px;
    
}